In [1]:
# from modules.chatbot import *
from modules.preprocess import *
import pandas as pd

In [2]:
csv = './test.csv'

prep = DataFramePreprocessor(csv_path = csv)

Normalizing column names
Converting column types
The current version cannot support date or time columns. These will be dropped automatically.

In [3]:
prep.get_dataframe().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             7043 non-null   int64
 1   senior_citizen     7043 non-null   int64
 2   partner            7043 non-null   int64
 3   dependents         7043 non-null   int64
 4   tenure             7043 non-null   int64
 5   phone_service      7043 non-null   int64
 6   multiple_lines     7043 non-null   object
 7   internet_service   7043 non-null   object
 8   online_security    7043 non-null   object
 9   online_backup      7043 non-null   object
 10  device_protection  7043 non-null   object
 11  tech_support       7043 non-null   object
 12  streaming_tv       7043 non-null   object
 13  streaming_movies   7043 non-null   object
 14  contract           7043 non-null   object
 15  paperless_billing  7043 non-null   int64
 16  payment_method     7043 non-null   object
 17  monthly_charges    7043 non-null   float64
 18  total_charges      7032 non-null   float64
 19  churn              7043 non-null   int64
dtypes: float64(2), int64(8), object(10)
memory usage: 1.1+ MB

In [4]:
prep.set_machine_learning_task(0)

In [5]:
prep.task_type

0

In [6]:
prep.split_features('churn')

In [7]:
prep.y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int64

In [8]:
prep.train_test_split()

In [9]:
prep.X_train

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges
1873,1,0,1,1,72,1,No,DSL,Yes,Yes,Yes,No,Yes,No,Two year,1,Credit card (automatic),70.65,5011.15
2491,1,0,1,0,42,1,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,0,Credit card (automatic),20.35,869.90
5017,1,0,1,0,41,0,No phone service,DSL,No,Yes,No,Yes,No,No,One year,0,Mailed check,35.45,1391.65
4855,0,0,1,0,64,1,No,Fiber optic,Yes,Yes,No,Yes,Yes,Yes,Two year,1,Credit card (automatic),104.05,6605.55
1031,0,0,1,1,27,1,Yes,DSL,No,No,No,Yes,Yes,Yes,Month-to-month,0,Bank transfer (automatic),71.60,1957.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,0,0,0,0,5,1,No,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,0,Bank transfer (automatic),96.50,492.55
5621,1,0,1,0,3,1,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Credit card (automatic),74.75,229.50
1113,1,0,1,0,37,1,Yes,Fiber optic,No,No,Yes,No,No,No,Month-to-month,1,Credit card (automatic),78.95,2839.65
5793,0,0,0,0,14,1,Yes,DSL,No,Yes,No,No,No,No,Month-to-month,1,Credit card (automatic),55.50,767.55
3045,1,0,1,0,48,1,No,DSL,No,Yes,Yes,No,No,Yes,One year,1,Electronic check,65.65,3094.65

In [10]:
prep.X_train.multiple_lines

1873                  No
2491                  No
5017    No phone service
4855                  No
1031                 Yes
              ...
365                   No
5621                 Yes
1113                 Yes
5793                 Yes
3045                  No
Name: multiple_lines, Length: 5634, dtype: object

In [11]:
pre_clean_X = prep.X_train

In [12]:
prep.X_train.payment_method.value_counts()

payment_method
Electronic check             1885
Mailed check                 1280
Bank transfer (automatic)    1246
Credit card (automatic)      1223
Name: count, dtype: int64

In [13]:
prep.clean_data(strictness = 2)

[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 0. 0. 0.]

In [14]:
prep.X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5227 entries, 1873 to 3045
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5227 non-null   int64
 1   senior_citizen     5227 non-null   int64
 2   partner            5227 non-null   int64
 3   dependents         5227 non-null   int64
 4   tenure             5227 non-null   int64
 5   phone_service      5227 non-null   int64
 6   multiple_lines     5227 non-null   object
 7   internet_service   5227 non-null   object
 8   online_security    5227 non-null   object
 9   online_backup      5227 non-null   object
 10  device_protection  5227 non-null   object
 11  tech_support       5227 non-null   object
 12  streaming_tv       5227 non-null   object
 13  streaming_movies   5227 non-null   object
 14  contract           5227 non-null   object
 15  paperless_billing  5227 non-null   int64
 16  payment_method     5227 non-null   object
 17  monthly_charges    5227 non-null   float64
 18  total_charges      5227 non-null   float64
dtypes: float64(2), int64(7), object(10)
memory usage: 816.7+ KB

In [15]:
post_clean_X = prep.X_train

In [16]:
prep.X_train.phone_service.value_counts()

phone_service
1    4692
0     535
Name: count, dtype: int64

In [17]:
prep.X_train.payment_method.value_counts()

payment_method
Electronic check             1789
Mailed check                 1259
Bank transfer (automatic)    1100
Credit card (automatic)      1079
Name: count, dtype: int64

In [18]:
for c in prep.X.columns:
    vc_1 = pre_clean_X[c].value_counts()
    vc_2 = post_clean_X[c].value_counts()
    print(pd.concat([vc_1, vc_2], axis = 1))

        count  count
gender
0        2819   2609
1        2815   2618
                count  count
senior_citizen
0                4709   4390
1                 925    837
         count  count
partner
0         2908   2825
1         2726   2402
            count  count
dependents
0            3954   3703
1            1680   1524
        count  count
tenure
1         488  488.0
72        295  150.0
2         179  179.0
3         163  163.0
4         142  142.0
...       ...    ...
33         45   45.0
59         45   43.0
39         45   45.0
36         40   40.0
0           8    NaN

[73 rows x 2 columns]
               count  count
phone_service
1               5098   4692
0                536    535
                  count  count
multiple_lines
No                 2682   2639
Yes                2416   2053
No phone service    536    535
                  count  count
internet_service
Fiber optic        2487   2103
DSL                1926   1908
No                 1221   1216
                     count  count
online_security
No                    2789   2636
Yes                   1624   1375
No internet service   1221   1216
                     count  count
online_backup
No                    2452   2382
Yes                   1961   1629
No internet service   1221   1216
                     count  count
device_protection
No                    2446   2383
Yes                   1967   1628
No internet service   1221   1216
                     count  count
tech_support
No                    2772   2642
Yes                   1641   1369
No internet service   1221   1216
                     count  count
streaming_tv
No                    2238   2208
Yes                   2175   1803
No internet service   1221   1216
                     count  count
streaming_movies
No                    2209   2174
Yes                   2204   1837
No internet service   1221   1216
                count  count
contract
Month-to-month   3105   3071
Two year         1342   1078
One year         1187   1078
                   count  count
paperless_billing
1                   3355   3044
0                   2279   2183
                           count  count
payment_method
Electronic check            1885   1789
Mailed check                1280   1259
Bank transfer (automatic)   1246   1100
Credit card (automatic)     1223   1079
                 count  count
monthly_charges
20.05               45   45.0
19.95               38   38.0
19.70               37   36.0
19.75               36   36.0
19.65               36   36.0
...                ...    ...
52.00                1    1.0
53.35                1    1.0
77.85                1    1.0
101.85               1    1.0
73.10                1    1.0

[1488 rows x 2 columns]
               count  count
total_charges
19.90              8    8.0
19.65              8    8.0
19.75              8    8.0
20.05              8    8.0
20.20              8    8.0
...              ...    ...
6526.65            1    NaN
2010.95            1    1.0
1441.65            1    1.0
4965.10            1    1.0
3094.65            1    1.0

[5279 rows x 2 columns]

In [19]:
# df = pd.read_csv('./test.csv')
# df.columns

In [20]:
# df.PaymentMethod.value_counts()